@media screen and (max-width: 600px) {
    body{
        font-family: 'Archivo', sans-serif;
        color: black;
        background-color: yellow;
        display: inline-block;
        width: 100%;
    }
    html{
        background-color: white;
    }
    .icons2{
        margin-top: 1em;
        width: 5%;
    }

    .texticons{
        width: 2%;
    }


    .img{
        display: none;
    }

    .info{
        display: none;
    }
    div.menu{
        position: sticky;
        top: 0;
        display: inline-block;
        width: 100%;
        background-color: gold;
    }
    .logo{
       width: 100%;
       height: auto;
    }

    #logo{
        width: 30%;
        float: right;
    }
    #menubar{
        width: 2em;
        color: black;
    }

    #menutext{
        margin: 0 auto;
    }

    a{
        display: block;
        text-decoration: none;
        color: goldenrod;
        font-weight: bold;
        background-color: black;
    }

    .header{
        background-color: yellow;
        color: white;
        width: 100%;
    }

    .slide1{
        width: 100%;
        height: auto;
        margin-bottom: 1em;
    }

    .divstyle{
        margin: 1em;
    }
    .button{
        width: 6em;
        font-size: 1em;
        background-color: gold;
        color: black;
        text-align: center;
    }



    .clip{
        width: 90%;
        height: auto;
        margin: 1em;
    }
}

@media screen and (min-width: 800px) {
    body{
        font-family: 'Archivo', sans-serif;
        color: black;
        background-color: yellow;
        display: grid;
        width: 99%;
    }

    html{
        background-color: whitesmoke;
    }
    .icons{
        width: 2%;
    }

    .texticons{
        width: 13%;
    }

    div.menu{
        position: sticky;
        top: 0;
        display: inline-block;
        width: 100%;
        background-color: gold;
        text-align: right;
        grid-column: 1/4;
    }
    #menubar{
        width: 2em;
        color: black;
        float: left;
    }

    #menutext{
        margin: 0 auto;
        position: relative;
        bottom: 1em;
    }

    p.info{
        margin-right: 3em;
        display: inline;
        font-size: 1.5em;
    }

    div.links{
        margin-left: 2em;
        width: 100%;
        height: auto;
        float: left;
        grid-column: 1/4;
    }

    a{
        display: inline;
        text-decoration: none;
        color: goldenrod;
        font-weight: bold;
        margin-right: 2em;
        position: relative;
        bottom: 2em;
    }

    #logo{
        width: 13%;
    }

    .header{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        grid-column: 1/4;
    }

    .divstyle{
        margin: 1em;
        width: 15em;
        margin: 30 auto;
    }

    .button{
        width: 6em;
        font-size: 1em;
        background-color: goldenrod;
        color: black;
        text-align: center;
        border: 2px solid grey;
        margin: 10 60;
    }

    .drivelesson{
        grid-column: 1/2;
        background-color: gold;
        padding: 1em;
    }

    .locations{
        grid-column: 2/3;
        background-color: gold;
        padding: 1em;
    }

    .testlesson{
        grid-column: 3/4;
        background-color: gold;
        padding: 1em;
    }
    
    .clip{
        text-align: center;
        grid-column: 1/4;
        margin-bottom: 1em;
    }

    #menubar{
        width: 2em;
        color: black;
   }
}