@media screen and (max-width: 600px) {
    body{
        font-family: 'Archivo', sans-serif;
        color: black;
        background-color: yellow;
        display: inline-block;
        width: 100%;
    }
    html{
        background-color: white;
    }
    .icons2{
        margin-top: 1em;
        width: 5%;
    }

    .texticons{
        width: 6%;
    }


    .img{
        width: 5%;
        display: inline-block;
        margin-right: 1em;
        position: relative;
        bottom: 30;
        left: 50;
    }

    .info{
        display: none;
    }
    div.menu{
        position: sticky;
        top: 0;
        display: inline-block;
        width: 100%;
        background-color: gold;
        height: 5%;
    }
    #menutext.logo{
        bottom: 2em;
        top: 0;
        width: 100%;
        height: auto;
        margin: 0 auto;
       
    }
    #logo{
        display: none;
    }
    #menubar{
        width: 2em;
        color: black;
    }



    .links{
        display: block;
        text-decoration: none;
        color: goldenrod;
        font-weight: bold;
        background-color: black;
        width: 40%;
        margin-top: -1.8em;
        margin-bottom: 1.8em;
    }

    .header{
        background-color: yellow;
        color: white;
        width: 100%;
    }

    .slide1{
        width: 100%;
        height: auto;
        margin-bottom: 1em;
    }

    .divstyle{
        margin: 1em;
    }
    .button{
        width: 6em;
        font-size: 1em;
        background-color: gold;
        color: black;
        text-align: center;
    }

    .clip{
        width: 90%;
        height: auto;
        margin: 1em;
    }

    footer{
        text-align: center;
        font-size: 1em;
        width: 100%;
   }
}

@media screen and (min-width: 800px) {
    body{
        font-family: 'Archivo', sans-serif;
        color: black;
        background-color: yellow;
        display: grid;
        width: 99%;
    }

    html{
        background-color: goldenrod;
    }
    .icons{
        width: 2%;
    }

    .texticons{
        width: 13%;
    }

    div.menu{
        position: sticky;
        top: 0;
        display: inline-block;
        width: 100%;
        background-color: gold;
        text-align: right;
        grid-column: 1/4;
    }

    div.logo#menutext{
        width: 100%;
        background-color: yellow;
        text-align: left;
        height: 5em;
    }


    a.links{
        position: relative;
        bottom: 2em;
    }

    #logo{
        margin-top: -1em;
        width: 13%;
        height: auto;
    }
    a:hover{
        color: black;
    }

    p.info{
        margin-right: 3em;
        display: inline;
        font-size: 1.5em;
    }

    a{
        display: inline;
        text-decoration: none;
        color: goldenrod;
        font-weight: bold;
        margin-right: 2em;
    }

    .header{
        display: block;
        width: 100%;
        grid-column: 1/4;
        float: right;
    }

    .divstyle{
        margin: 1em;
        width: 15em;
        margin: 30 auto;
    }

    .button{
        width: 6em;
        font-size: 1em;
        background-color: goldenrod;
        color: black;
        text-align: center;
        border: 2px solid grey;
        margin: 10 60;
    }

    .drivelesson{
        grid-column: 1/2;
        background-color: gold;
        padding: 1em;
    }

    .locations{
        grid-column: 2/3;
        background-color: gold;
        padding: 1em;
    }

    .testlesson{
        grid-column: 3/4;
        background-color: gold;
        padding: 1em;
    }
    
    .clip{
        text-align: center;
        grid-column: 1/4;
        margin-bottom: 1em;
    }

    #menubar{
        width: 2em;
        color: black;
   }

   footer{
        text-align: center;
        font-size: 1.3em;
        grid-column: 1/4;
   }
}