@media screen and (max-width: 600px) {
 
    html{
        font-family: 'Archivo', sans-serif;
        color: black;
        background-color: yellow;
        display: inline-block;
    }
 
    div.menu{
        position: fixed;
        top: 0;
        display: inline-block;
        width: 96%;
        background-color: gold;
    }

    #menutext.logo{
        display: inline-block;
        margin: 0 auto;
        width: 40%;
    }

    #menubar{
        width: 2em;
        color: black;
    }
    .row1{
        display: none;
    }
    div.phonemenu{

        display: inline-block;
        background-color: gold;
        width: 96%;
        height: 6%;
    }

    #menubar2{
        width: 2em;
        color: black;
        position: fixed;
    }

    #menutext2#logo{
        bottom: 2em;
        display: inline-block;
    }
    #logo{
        width: 23%;
        float: right;
        margin-top: -0.5em;
    }

    .img{
        width: 5%;
        display: inline;
    }

    .info{
        display: inline-block;
    }

    .icons2{
        margin-top: 1em;
        width: 5%;
    }

    .texticons{
        width: 6%;
    }

    .links{
        display: block;
        text-decoration: none;
        color: goldenrod;
        font-weight: bold;
        background-color: black;
    }

    .header{
        margin-top: 2em;
        background-color: yellow;
        color: white;
        width: 100%;
    }

    .slide1{
        width: 100%;
        height: auto;
        margin-bottom: 1em;
    }

    .divstyle{
        margin: 1em;
        background-color: gold;
    }
    .button{
        width: 6em;
        font-size: 1em;
        background-color: gold;
        color: black;
        text-align: center;
    }

    .clip{
        width: 90%;
        height: auto;
        margin: 1em;
    }

    footer{
        text-align: center;
        font-size: 1em;
        width: 100%;
   }
}

@media screen and (min-width: 800px) {
    body{
        font-family: 'Archivo', sans-serif;
        color: black;
        background-color: yellow;
        display: grid;
        grid-template-columns: auto auto auto;
        width: 99%;
    }

    html{
        background-color: goldenrod;
    }

    div.menu{
        display: inline-block;
        position: sticky;
        top: 0;
        background-color: yellow;
        text-align: right;
        grid-column: 1/4;
        border: 2px solid blue;
        height: 60%;
    }   

    .row1{
        background-color: gold;
        height: 30%;
        margin-bottom: 14em;
    }

    div.logo#menutext{
        background-color: yellow;
        position: relative;
        bottom: 170 ;
        right: 0;
        font-size: 1.4em;
    }

    #menubar{
        width: 2em;
        color: black;
   }

    .phonemenu{
        display: none;
    }

    #logo{
        margin-top: -1em;
        width: 13%;
        float: left;
    }
    a:hover{
        color: black;
    }

    p.info{
        margin-right: 3em;
        display: inline;
        font-size: 1.5em;
    }

    a{
        display: inline;
        text-decoration: none;
        color: goldenrod;
        font-weight: bold;
        margin-right: 1em;
    }

    .header{
        display: block;
        width: 100%;
        grid-column: 1/4;
        float: right;
    }

    .textH{
        background-color: orange;
        position: relative;
        bottom: 120;
        width: 55%;
        left: 600;
    }
    .textP{
        background-color: orange;
        position: relative;
        bottom: 80;
        width: 62%;
        left: 180;
        height: 20%;
    }
    .divstyle{
        margin: 1em;
        width: 15em;
        margin: 30 auto;
    }

    .button{
        width: 6em;
        font-size: 1em;
        background-color: goldenrod;
        color: black;
        text-align: center;
        border: 2px solid grey;
        margin: 10 60;
    }

    .drivelesson{
        grid-column: 1/2;
        background-color: gold;
        padding: 1em;
    }

    .locations{
        grid-column: 2/3;
        background-color: gold;
        padding: 1em;
    }

    .testlesson{
        grid-column: 3/4;
        background-color: gold;
        padding: 1em;
    }
    
    .icons{
        width: 2%;
    }

    .texticons{
        width: 13%;
    }

    .clip{
        text-align: center;
        grid-column: 1/4;
        margin-bottom: 1em;
    }

   footer{
        text-align: center;
        font-size: 1.3em;
        grid-column: 1/4;
   }

    /*Slideshow css*/
}